/* ----------------------------- */
/* ## PIE DE PÁGINA (FOOTER) */
/* ----------------------------- */
.footer {
  background-color: #1C4535; /* Fondo Verde Bosque */
  color: #FAF9F6; /* Texto Crema */
  padding: 2.5rem 1.5rem;
  font-family: "Roboto", sans-serif;
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 75rem;
  margin: auto;
  gap: 2rem;
}

/* Marca o logotipo */
.footer-brand {
  flex: 1;
  min-width: 12rem;
}

.footer-logo {
  width: 3.75rem;
  height: auto;
  margin-bottom: 0.5rem;
}

.footer-brand p {
  font-weight: bold;
  font-size: 1.2rem;
}

.footer-brand small {
  display: block;
  margin-top: 0.5rem;
  color: #C5D8AD;
}

/* Enlaces legales y Social */
.footer-links, .footer-social {
  flex: 1;
  min-width: 10rem;
}

.footer-links h4, .footer-social h4 {
  color: #A98B5E; /* Títulos en Dorado/Tierra */
  margin-bottom: 1rem;
  border-bottom: 1px solid #A98B5E;
  padding-bottom: 0.5rem;
}

.footer-links a {
  display: block;
  color: #C5D8AD;
  text-decoration: none;
  margin: 0.5rem 0;
  transition: color 0.3s;
}

.footer-links a:hover {
  color: #FAF9F6;
}

/* Redes sociales con íconos */
.footer-social a {
  display: inline-block;
  margin-right: 0.75rem;
}

.social-icon {
  width: 2rem;
  height: 2rem;
  transition: transform 0.3s ease-in-out;
  filter: invert(10%) sepia(0%); /* Iconos blancos en hover */
}

.social-icon:hover {
  transform: scale(1.15);

}